body {
  background-color: rgb(247, 247, 183);
}

h1 {
  text-align: center;
}
a {
  padding: 20px;
}

img {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.main-menu {
  text-align: center;
}
